.sideMenuContainer{
    min-width: 250px;
    width: 250px;
    border-right:2px solid #f2f3f3;
    box-shadow: 12px 6px 13px -7px #f4f4f4;
    height:100vh
}

.sideMenuItems{
    background-color:#e9f9f0;
    margin-top: 25px;
    border-left: 4px solid #2cc56f;
    color:#2cc56f;
    font-size: 22px;
    padding: 17px 18px;
}